mace_env
Experiments/Official MACE notebook/MACE_models/
Experiments/Official MACE notebook/MACE_models_fp32/
*.png
*.xyz
*.xlsx
mace/mace/calculators/foundations_models/*.model
*.pdf
*.pickle
*.log
*.txt
*__pycache__
*.json
profiling_traces/
Experiments/Official MACE notebook/profiling_traces/